
.select {
    border: 1px solid #d3d4d5;
    appearance: none;
    height: 54px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    padding: 0 10px;
    background: url("./down-arrow.svg") 96% / 16px no-repeat;
    /*outline: none;*/
}