.labelCheckbox {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

/* Hide the browser's default checkbox */
.labelCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.labelCheckbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: 1px solid #d3d4d5;
    border-radius: 4px;
}

/* When the checkbox is checked, add a blue background */
.labelCheckbox input:checked ~ .checkmark {
    background-color: #009fd9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.labelCheckbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Show the checkmark when checked */
.labelCheckbox input:checked ~ .checkmark:after {
    display: block;
}
