.error {
    text-align: center;
    color: rgba(205, 30, 38, 0.84);
    font-weight: 700;
    margin-bottom: 10px;
}

.authForm {
    background-color: #fafafa;
}

.authForm > h1 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    padding: 24px;
}

.formModal {
    border: 1px solid #e9eced;
    border-radius: 4px;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 32px;
}

.inputLabel {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    margin-bottom: 8px;
}

.inputText {
    height: 50px;
    line-height: 24px;
    padding: 13px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #d3d4d5;
    width: 100%;
    /*font-size: 16px;*/
}

.formModal input:focus {
    border-color: #009fd9;
}

.rememberMe {
    display: flex;
    justify-content: space-between;
}

.rememberMe > label {
    flex-grow: 1;
}

.termsWarning {
    font-size: 14px;
    text-align: center;
    margin: 16px 0 0 0;
    line-height: 1.5;
}

.afterwords {
    padding: 32px 0 32px 0;
    text-align: center;
    font-weight: 400;
}

.twoColumns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.twoColumns > div {
    margin: 0;
}