
.googleSignin {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d3d4d5;
    color: #676d73;
    background-color: white;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    margin: 4px;
}

.googleSignin img {
    margin-right: 12px;
}